/* Humanist Style for Chrome Extension Popup - Dark Theme */
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 12px;
  /* background-color: #1e1e1e; */
  background: linear-gradient(to bottom right, #003000, #2a0830);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #e0e0e0;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.5;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #ffffff;
}

textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #555;
  border-radius: 6px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.4;
  color: #e0e0e0;
  background-color: #2a2a2a;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
}

textarea:focus {
  border-color: #5fa1f5;
  outline: none;
  background-color: #333;
}

button {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 12px;
  font-family: inherit;
  font-size: 14px;
  color: white;
  background-color: #3a73d0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover {
  background-color: #305e90;
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

a {
  color: #5fa1f5;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

input[type="text"] {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.0;
  padding: 0.4em 0.8em;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #2b2b2b;
  color: #e0e0e0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  transition: border-color 0.3s, box-shadow 0.3s;
}

input::placeholder {
  color: #e0e0e0;
  opacity: 0.8;
}


/*********** Tabs ***************/
.tabs {
  display: flex;
  border-bottom: 1px solid #444;
  margin-bottom: 5px;
}

.tab-button {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border: none;
  background: none;
  color: #bbb;
}

.tab-button.active {
  border-bottom: 2px solid #5fa1f5;
  color: #5fa1f5;
}

.tab-content {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tab-content.active {
  visibility: visible;
  opacity: 1;
  height: auto;
  overflow: visible;
}


/**** table ****/
table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #e0e0e0;
  background-color: #2a2a2a;
  margin-top: 5px;
  border-radius: 8px;
  overflow: hidden;
}

thead {
  background-color: #3a3a3a;
  font-weight: 600;
  text-align: left;
  border-bottom: 2px solid #555;
}

th, td {
  padding: 4px 6px;
}

tbody tr {
  border-bottom: 1px solid #444;
}
